export(getGenes)
export(parseFeatures)
export(parseRegions)
export(plotMatrices)
importFrom(biomaRt, getBM)
importFrom(GenomicRanges, GRanges)
importFrom(IRanges, Rle, IRanges)
importFrom(Rsamtools, ScanBamParam, scanBam, indexBam, countBam)
importFrom(ggplot2, ggplot, geom_ribbon, theme, ggtitle)
