export(metagene)
export(get_demo_bam_files)
export(get_demo_regions)
export(get_demo_metagene)
export(get_demo_design)
export(permutation_test)
export(plot_metagene)
import(GenomicRanges)
import(GenomicAlignments)
import(GenomeInfoDb)
import(IRanges)
import(ggplot2)
import(R6)
import(BiocParallel)
import(Rsamtools)
import(DBChIP)
import(GenomicFeatures)
importFrom(rtracklayer, export)
importFrom(rtracklayer, import)
importFrom(gplots, heatmap.2)
importFrom(tools, file_path_sans_ext)
importFrom(muStat, prentice.test)
importFrom(muStat, mu.friedman.test)
importFrom(matrixStats, colMedians)
importFrom(data.table, data.table)
importFrom(data.table, copy)
importFrom(purrr, map)
importFrom(purrr, map2)
import(magrittr)
importFrom("methods", "is")
importFrom("utils", "read.table")
