export(get_demo_bam_files)
export(Basic_Stat)
export(Parallel_Job)
export(Bam_Handler)
export(parseFeatures)
export(parseRegions)
export(plotMatrices)
import(rtracklayer)
import(GenomicRanges)
import(GenomicAlignments)
import(ggplot2)